#topPanel {
  color:#f5f5f5;
  min-height:768px;
  background: transparent url('/pattern.png') repeat top left;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
#topPanel a { color:inherit; opacity:0.5; }
#topPanel a:hover { opacity:1.0; }
#topPanel .container { padding-top:320px; }

#contentPanel { background-color:inherit; }
#footer {
  background-color:#f5f5f5;
  border-top:1px solid #e3e3e3;
  padding:32px 0px 64px 0px;
}
#footer a { color:inherit; }
#footer a.kettle:hover {text-decoration: none; border-bottom:1px dotted; }

#contentPanel .container {
  background-color:inherit;
  min-height:768px;
}
#contentPanel .carousel { margin-bottom:16px; }
#contentPanel .carousel-caption {
  display:none;
  left:0px; right:0px; bottom:0px; top:0px;
  padding:32px 8px;
  background-color: rgba(0,0,0,0.5);
  color:#fff;
}
#contentPanel .carousel:hover .carousel-caption { display:block; }
#contentPanel .carousel-caption a { color:inherit; }
#contentPanel .carousel:hover img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
